{% extends 'base.html.twig' %}

{% block body %}
<h1>Forgot Password</h1>

    <div class="form form-thin">
        <div class="form-header">
            <div class="form-title">Recover your password</div>
            <div class="form-description">If the password exists we will send an email with details of how to reset your password.</div>
        </div>
        <div class="form-body">

            <form action="" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email address">
                </div>
                <div class="form-group">
                    <button class="btn btn-success">Send password reset link</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}